@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --bg_color: #fbfbfb;
    --primary_white: #ffffff;
    --primary_text_color: #1a0710a6; /* 65% */
    --secondary_text_color: #1a0710d9; /* 85% */
    --tertiary_text_color: #1a071066; /* 40% */
    --primary_purple: #5932ea;
    --secondary_purple: #4925e9;
    --primary_black: #000000;
    --sidebar_font_color: #9197b3;
    --dashboard_bg_color: #fafbff;
    --dashboard_bg_color_2: #f9fbff;
    --user_position_color: #757575;
    --primary_green: #6bc62d;
    --custom_input_bg_color: #ef498f1f;

    --max_form_width: 502px;

    --font_xxsm: 0.625rem; /* 10px */
    --font_xsm: 0.6875rem; /* 11px */
    --font-12: 0.75rem;
    --font_sm: 0.8125rem; /* 13px */
    --font_ssm: 0.875rem; /* 14px */
    --font_md: 1rem;
    --font-20: 1.25rem;
    --font_xmd: 1.5rem; /* 24px */
    --font_lg: 1.625rem; /* 26px */

    --transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg_color);
    color: var(--primary_text_color);
    font-family: "Commissioner", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.pointer {
    cursor: pointer;
}
